/* Домінатний колір основного тексту #757575 */
/* Вторинний колір заголовків #212121 */

/* Основний фон білий #ffffff */

/* Акцент #2196f3 */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* ul {
  list-style: none;
  margin: 0;
  padding: 0;
} */

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.container {
  width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  /* outline: 2px solid red; */
  /* outline - рамка для обведення контенту */
}

/* -----SITE-HEADER----- */
.site-header {
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 93px;

  color: var(--accent-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  text-decoration: none;
}

.logo .header-logo {
  color: #000000;
}

.site-nav {
  display: flex;
  gap: 50px;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.site-contacts {
  display: flex;
  gap: 50px;
  margin-left: auto;
}

.site-contacts .link {
  display: block;

  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-contacts .link:hover,
.site-contacts .link:focus {
  color: var(--accent-color);
}

/* -----HERO----- */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;

  background-color: #2f303a;
}

.hero-title {
  margin-bottom: 30px;

  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* -----BUTTONS----- */
.button {
  cursor: pointer;

  color: var(--title-text-color);
  background-color: #f5f4fa;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;

  border: none;
  /* border: 1px solid transparent; */
  border-radius: 4px;
}

.button.btn-primary {
  min-width: 216px;
  height: 50px;
  /* padding: 10px 32px; */

  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button.btn-primary:hover,
.button.btn-primary:focus {
  background-color: #188ce8;
}

.button.btn-secondary {
  padding: 6px 22px;
}

.button.btn-all {
  padding: 6px 25px;
}

.button:hover,
.button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* -----SECTIONS----- */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title {
  margin-bottom: 50px;

  color: var(--title-text-color);
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

/* -----section-feature----- */
.feature-list {
  display: flex;
  gap: 30px;
}

.feature-list .item {
  width: calc((100% - 90px) / 4);
}

.feature-list .title {
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.feature-list .text {
  font-size: 14px;
  line-height: 1.71;
}

/* -----section-job----- */
.section-job {
  padding-top: 0;
}

.job-list {
  display: flex;
  gap: 30px;
}

.job-list .item {
  width: calc((100% - 60px) / 3);
}

/* -----section-team----- */
.section-team {
  background: #f5f4fa;
}

.team-list {
  display: flex;
  gap: 30px;
}

.team-list .item {
  /* width: calc((100% - 90px) / 4); - можна не використовувати при gap */

  background: var(--primary-white-color);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list .title {
  padding-top: 30px;
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-list .text {
  padding-bottom: 30px;

  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

/* -----FOOTER----- */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: #2f303a;
}

.footer .logo {
  display: block;
  margin-bottom: 20px;
}

.logo .footer-logo {
  color: var(--primary-white-color);
}

.footer-contacts .link-address {
  color: var(--primary-white-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;

  text-decoration: none;
}

.footer-contacts .link {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}

.footer-contacts .link-address:hover,
.footer-contacts .link-address:focus {
  color: var(--accent-color);
}

.footer-contacts .link:hover,
.footer-contacts .link:focus {
  color: var(--accent-color);
}

.footer-contacts .item {
  display: block;
}

.footer-contacts .item:not(:last-child) {
  margin-bottom: 9px;
}

/* -----PORTFOLIO----- */
.section-portfolio .filters {
  margin-bottom: 50px;
  display: flex;
  gap: 8px;
  justify-content: center;
}

.portfolio-list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.portfolio-list .item {
  /* width: calc((100% - 60px) / 3); - можна не використовувати при gap */
}

.portfolio-list .title {
  margin-bottom: 4px;

  color: var(--title-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-list .text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.88;
}

.link-wrap {
  padding: 20px 24px;

  border: 1px solid #eeeeee;
  border-top: none;
}
